.columnsDiv {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  margin: 10px;
}

.datatable {
  width: 400px;
}
