.columnDiv {
  display: flex;
  justify-content: space-between;
  height: 18.75rem;
}

.buttonDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.datatable {
  overflow-y: auto;
  width: 25rem;
}

.divSize {
  width: 25rem;
}

.bigInputWidth {
  width: 100%;
}

.smallInputWidth {
  width: 6.25rem;
}
