.custom-box {
  background-color: #f4f6f9;
  /*width: 200px;*/
  height: 300px;
}

.parent-div {
  position: relative;
}

.myButton {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-modal-footer {
  --slds-c-modal-footer-color-background: #f4f6f9;

  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
